body{
	padding-top: 20px;
	background-color: #eee;
}
div{
	border-radius: 10px;
	padding: 10px;
}

#section_a{
	background: white;
	text-align: center;
	margin-bottom: 10px;
}

.double{
	background-color: white;
}

.triple{
	background-color: white;
	padding: 10px;
}

.limit_lines{
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 48px;
}

.section_title{
	font-weight: bold;
	font-size: 30px;
}