body {
    padding-top: 20px;
    background-color: #eee;
}

div {
    border-radius: 10px;
    padding: 10px;
}

/* line1 */
#section_a {
    background: white;
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: transparent;
}

.a_child {
	margin: 10px;
	font-size: 20px;
}


/* line2 */
.double {
    background-color: white;
}

.limit_lines {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 48px;
}


/* line3 */
.triple {
    background-color: white;
    padding: 10px;
}

.section_title {
    font-weight: bold;
    font-size: 30px;
}