.size span {
    position: absolute;
    font: 60px Monaco, MonoSpace;
    transform-origin: bottom center;
    height: 200px;
    width: 20px;
}


/* h1 */

h1 {
    transform: rotate(245deg);
    padding-left: 50%!important;
    padding-bottom: 50%!important;
}

h1 span {
    font-size: 86px!important;
    font-weight: bold!important;
}

h1 .char2 {
    transform: rotate(16deg)
}

h1 .char3 {
    transform: rotate(32deg)
}

h1 .char4 {
    transform: rotate(48deg)
}

h1 .char5 {
    transform: rotate(64deg)
}

h1 .char6 {
    transform: rotate(80deg)
}

h1 .char7 {
    transform: rotate(96deg)
}

h1 .char8 {
    transform: rotate(112deg)
}

h1 .char9 {
    transform: rotate(128deg)
}

h1 .char10 {
    transform: rotate(144deg)
}

h1 .char11 {
    transform: rotate(160deg)
}

h1 .char12 {
    transform: rotate(176deg)
}

h1 .char13 {
    transform: rotate(192deg)
}

h1 .char14 {
    transform: rotate(208deg)
}

h1 .char15 {
    transform: rotate(224deg)
}

h1 .char16 {
    transform: rotate(240deg)
}


/* date */

#date {
    /*margin-bottom: 8%;*/
    padding-left: 50%;
    transform: rotate(-45deg);
}

#date span {
    color: #F15631;
    width: 20px;
    height: 220px;
    display: inline-block;
}

#date .char7 {
    transform: rotate(11.25deg)
}

#date .char8 {
    transform: rotate(22.5deg)
}

#date .char9 {
    transform: rotate(33.75deg)
}

#date .char10 {
    transform: rotate(45deg)
}

#date .char11 {
    transform: rotate(56.25deg)
}

#date .char12 {
    transform: rotate(67.5deg)
}

#date .char13 {
    transform: rotate(78.75deg)
}

#date .char14 {
    transform: rotate(90deg)
}


/* time */

#time {
    color: #F15631;
    margin-left: 40%;
    transform: rotate(33deg);
    margin-top: 27%;
}

#time .char6 {
    transform: rotate(-90deg)
}

#time .char7 {
    transform: rotate(-82.5deg)
}

#time .char8 {
    transform: rotate(-75deg)
}

#time .char9 {
    transform: rotate(-67.5deg)
}

#time .char10 {
    transform: rotate(-60deg)
}

#time .char11 {
    transform: rotate(-52.5deg)
}

#time .char12 {
    transform: rotate(-45deg)
}

#time .char13 {
    transform: rotate(-37.5deg)
}

#time .char14 {
    transform: rotate(-30deg)
}

#time .char15 {
    transform: rotate(-22.5deg)
}

#time .char16 {
    transform: rotate(-15deg)
}

#time .char17 {
    transform: rotate(-7.5deg)
}

#time .char18 {
    transform: rotate(0deg)
}


/* location */

#location {
    transform: rotate(112deg);
    margin-left: -55%;
    margin-top: 125%;
    color: #FCBE32;
}

#location .char6 {
    transform: rotate(180deg)
}

#location .char7 {
    transform: rotate(198deg)
}

#location .char8 {
    transform: rotate(216deg)
}

#location .char9 {
    transform: rotate(234deg)
}

#location .char10 {
    transform: rotate(252deg)
}

#location .char11 {
    transform: rotate(270deg)
}


/* city */

#city {
    transform: rotate(-112deg);
    margin-bottom: 79%;
    margin-right: 31%;
    color: #F8CA00;
}

#city .char6 {
    transform: rotate(130deg)
}

#city .char7 {
    transform: rotate(110deg)
}

#city .char8 {
    transform: rotate(90deg)
}


/* participant */

#participant {
    transform: rotate(-90deg);
    margin-right: 45%;
    color: #008744;
}

#participant span {
    font-size: 40px;
}

#participant .char7 {
    transform: rotate(11.25deg)
}

#participant .char8 {
    transform: rotate(22.5deg)
}

#participant .char9 {
    transform: rotate(33.75deg)
}

#participant .char10 {
    transform: rotate(45deg)
}

#participant .char11 {
    transform: rotate(56.25deg)
}

#participant .char12 {
    transform: rotate(67.5deg)
}

#participant .char13 {
    transform: rotate(78.75deg)
}

#participant .char14 {
    transform: rotate(90deg)
}

#participant .char15 {
    transform: rotate(101.25deg)
}

#participant .char16 {
    transform: rotate(112.5deg)
}

#participant .char17 {
    transform: rotate(123.75deg)
}

#participant .char18 {
    transform: rotate(135deg)
}

#participant .char19 {
    transform: rotate(146.25deg)
}

#participant .char20 {
    transform: rotate(157.5deg)
}

#participant .char21 {
    transform: rotate(168.75deg)
}

#participant .char22 {
    transform: rotate(180deg)
}


/* thanks */

#thanks .char1 {
    transform: rotate(-90deg);
}

#thanks .char2 {
    transform: rotate(-60deg)
}

#thanks .char3 {
    transform: rotate(-30deg)
}

#thanks .char4 {
    transform: rotate(0)
}

#thanks .char5 {
    transform: rotate(30deg)
}

#thanks .char6 {
    transform: rotate(60deg)
}

#thanks .char7 {
    transform: rotate(90deg)
}