#review {
    font-size: 30px;
    color: #0000A1;
}

.viewport {
    width: 100%;
    height: 100%;
}

img {
    width: 10%;
    height: 10%;
}

.half img {
    float: left;
    width: 10%;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #92B4F4;
    border-radius: 200px;
    text-align: center;
}

#rush {
    color: #1F6ED4;
}

#thanks span {
    color: #6441A4;
    font-size: 100px;
    font-weight: bold;
}

#nothing {
    text-align: center;
    width: 480px;
    height: 150px;
    color: #16335F;
    font-size: 50px;
}

#nothing a {
    background-color: #eee;
}

.thoughts {
    font-size: 60px;
    visibility: hidden;
}
