#thanks .char1 {
    transform: rotate(-90deg)
}

#thanks .char2 {
    transform: rotate(-60deg)
}

#thanks .char3 {
    transform: rotate(-30deg)
}

#thanks .char4 {
    transform: rotate(0)
}

#thanks .char5 {
    transform: rotate(30deg)
}

#thanks .char6 {
    transform: rotate(60deg)
}

#thanks .char7 {
    transform: rotate(90deg)
}