.char6 {
    transform: rotate(180deg)
}

.char7 {
    transform: rotate(198deg)
}

.char8 {
    transform: rotate(216deg)
}

.char9 {
    transform: rotate(234deg)
}

.char10 {
    transform: rotate(252deg)
}

.char11 {
    transform: rotate(270deg)
}